.App {
}

.Filter-section {
  height: 100vh;
  font-size: 17px;
  width: 25%;
  float: left;
  padding-left: 20px;
}
.Character-list {
  font-size: 22px;
  height: 100%;
  width: 72%;
  max-height: 100vh;
  overflow: auto;
  float: left;
}

.Film-filter {
}

.Species-filter {
  padding-left: 20px;
  max-height: 300px;
  background-color: white;
  overflow: auto;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 5px;
}

ul {
  list-style-type: none;
  margin: 8px;
}

li {
    background-color: white;
    display: block;
    min-height: 45px;
    margin: 4px;
    padding-left: 8px;
    padding-top: 12px;
    width: 80%;
}

input[type=button] {
  height: 35px;
  float: right;
  margin: 20px;
}

h4 {
}

.Details {
  margin: 10px;
  padding: 10px;
}
table {
  border: 1px solid black;
  padding: 10px;
}
